@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@500;600;700;800&display=swap');

@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background-color: #f8fafc;
}

.heading-font {
  font-family: "Poppins", sans-serif;
}